<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <title>Personal Blog</title>
</head>

<body>
    <div th:insert="~{fragments/repeated.html :: header}"></div>

    <main>
        <h2 style="font-size: xx-large;">Admin Dashboard</h2>
        <hr>
        <div style="padding: 15px;">
            <ul class="hor-list" style="text-align: center;">
                <li><a href="/admin/clear" style="color: rgb(224, 7, 7);">Delete Articles</a></li>
                <li><a href="/logout" style="color: black;">Admin Logout</a></li>
                <li><a href="/admin/createArticle" style="color: black;">Create Article</a></li>
            </ul>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${list}">
                    <td><a th:href="@{~/article/{id}(id=${article.id})}" target="_blank"><strong><p th:text="${article.title}"></p></strong></a></td>
                    <td><p th:text="${article.date}"></p></td>
                    <td><a th:href="@{/admin/editArticle/{id}(id=${article.id})}"><button>Edit</button></a></td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:insert="~{fragments/repeated.html :: footer}"></div>
</body>

</html>
