<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <title>Personal Blog</title>
</head>
<body>
    <div th:insert="~{fragments/repeated.html :: header}"></div>

    <main>
        <div class="article-container">
            <h1 th:text="${title}"></h1>
            <p><small th:text="${publishdate}"></small></p>
            <hr>
            <p th:utext="${content}"></p>
            <p th:text="${content}"></p>
        </div>
    </main>

    <div th:insert="~{fragments/repeated.html :: footer}"></div>
</body>
</html>