<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <title>Personal Blog</title>
</head>

<body>
    <div th:insert="~{fragments/repeated.html :: header}"></div>

    <main>
        <table id="hometable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${list}">
                    <td><a th:href="@{~/article/{id}(id=${article.id})}" target="_blank"><strong><p th:text="${article.title}"></p></strong></a></td>
                    <td><p th:text="${article.date}"></p></td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:insert="~{fragments/repeated.html :: footer}"></div>
</body>

</html>